{% extends "base.html" %}
{% block title %}Índice Cliente{% endblock %}
{% block contenido %}
	    <h2>¿Qué desea hacer?</h2>

        <ul class="list-group">
          <li class="list-group-item">
              <a class="nav-link" href="{{url_for('depositar_cliente')}}">Depositar un vehículo</a>
          </li>
          <li class="list-group-item">
              <a class="nav-link" href="{{url_for('retirar_cliente')}}">Retirar un vehículo</a>
          </li>
          <li class="list-group-item">
              <a class="nav-link" href="{{url_for('depositar_cliente')}}">Obtener un abono</a>
          </li>
        </ul>




{% endblock %}
