{% extends "base.html" %}
{% block title %}Índice Administrador{% endblock %}
{% block contenido %}

    <div class="row">
  	<div class="col-md-3">
        <ul class="list-group mb-5 rounded">
            <h3 class="mb-4 text-center">Zona Administración</h3>
          <li class="list-group-item list-group-item-action list-group-item-info rounded">
              <a class="nav-link text-dark" href="{{url_for('estado_parking')}}">Ver el estado del parking</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-info">
              <a class="nav-link text-dark" href="{{url_for('facturacion')}}">Ver la facturación entre dos fechas</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-info">
              <a class="nav-link text-dark" href="{{url_for('consulta_abonados')}}">Consultar los abonados</a>
          </li>
            <li class="list-group-item list-group-item-action list-group-item-info">
              <a class="nav-link text-dark" href="{{url_for('caducidad_abonos_mes')}}">Ver los abonos que caducan en un mes específico</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-info">
              <a class="nav-link text-dark" href="{{url_for('caducidad_abonos_proximos_10_dias')}}">Ver los abonos que caducan en los próximos 10 días</a>
          </li>

        </ul>
    </div>
  	<div class="col-md-9">
	    {% block contenido2 %}{% endblock %}
  	</div>
  </div>

{% endblock %}
