{% extends "base.html" %}
{% block title %}Índice Administrador{% endblock %}
{% block contenido %}
	    <h2>¿Qué desea hacer?</h2>

        <ul class="list-group col-6 mb-5">
          <li class="list-group-item">
              <a class="nav-link" href="{{url_for('estado_parking')}}">Ver el estado del parking</a>
          </li>
          <li class="list-group-item">
              <a class="nav-link" href="{{url_for('facturacion')}}">Ver la facturación entre dos fechas</a>
          </li>
          <li class="list-group-item">
              <a class="nav-link" href="{{url_for('consulta_abonados')}}">Consultar los abonados</a>
          </li>
            <li class="list-group-item">
              <a class="nav-link" href="{{url_for('caducidad_abonos_mes')}}">Ver los abonos que caducan en un mes específico</a>
          </li>
          <li class="list-group-item">
              <a class="nav-link" href="{{url_for('caducidad_abonos_proximos_10_dias')}}">Ver los abonos que caducan en los próximos 10 días</a>
          </li>

        </ul>


{% endblock %}
