<{% extends "base.html" %}
{% block title %}Índice{% endblock %}
{% block contenido %}
	    <h2>Renovar abono</h2>
	<form action={{url_for("renovar_abono")}} method="post" class="col-7 mb-5">
	  <div class="form-group">
		<label for="dni">Introduce su dni:</label>
		<input type="text" class="form-control" name="dni" id="dni">
	  </div>
	  <div class="form-group">
		<label for="pin">Introduce su pin:</label>
		<input type="text" class="form-control" name="pin" id="pin">
	  </div>

		<div class="form-group">
			<label for="tipo_abono">Introduce el tipo de abono: </label>

			<select class="custom-select my-1 mr-sm-2" name="tipo_abono" id="tipo_abono">
				<option selected>Elegir...</option>
  				<option value="mensual">Mensual</option>
  				<option value="trimestral">Trimestral</option>
  				<option value="semestral">Semestral</option>
				<option value="anual">Anual</option>
  		</select>
	  </div>

	  <button type="submit" class="btn btn-primary">Enviar</button>
	</form>



{% endblock %}
