{% extends "base.html" %}
{% block title %}Índice Abonado{% endblock %}
{% block contenido %}
	    <h2 class="mb-4 text-center">¿Qué desea hacer?</h2>
     <div class="col-12 d-flex justify-content-center">
        <ul class="list-group col-5 mb-5">
          <li class="list-group-item list-group-item-action list-group-item-success">
              <a class="nav-link text-dark" href="{{url_for('depositar_abonados')}}">Depositar un vehículo</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-success">
              <a class="nav-link text-dark" href="{{url_for('retirar_abonados')}}">Retirar un vehículo</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-success">
              <a class="nav-link text-dark" href="{{url_for('consultar_abono')}}">Ver su abono</a>
          </li>
            <li class="list-group-item list-group-item-action list-group-item-success">
              <a class="nav-link text-dark" href="{{url_for('consultar_datos_personales')}}">Ver sus datos personales</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-success">
              <a class="nav-link text-dark" href="{{url_for('modificar_datos_abono')}}">Modificar datos personales</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-success">
              <a class="nav-link text-dark" href="{{url_for('renovar_abono')}}">Renovar su abono</a>
          </li>
            <li class="list-group-item list-group-item-action list-group-item-success">
              <a class="nav-link text-dark" href="{{url_for('borrar_abono')}}">Borrar su abono</a>
          </li>
        </ul>

     </div>


{% endblock %}
