{% extends "base.html" %}
{% block title %}Abono Creado{% endblock %}
{% block contenido %}
	    <h2>{{mensaje}}</h2>


	  <table>
		  <tr>
			<td class="pr-5 font-weight-bold">Nombre</td>
			<td>{{cliente.nombre}}</td>
		</tr>
		<tr>
			<td class="pr-5 font-weight-bold">Apellidos</td>
			<td>{{cliente.apellidos}}</td>
		</tr>
		<tr>
			<td class="pr-5 font-weight-bold">Email</td>
			<td>{{cliente.email}}</td>
		</tr>
          <tr>
			<td class="pr-5 font-weight-bold">DNI</td>
			<td>{{cliente.dni}}</td>
		</tr>

	  </table>


{% endblock %}
